In [13]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.impute import KNNImputer

In [14]:
# Load data
data = pd.read_csv('data/raw/data.csv')

In [18]:
data

   ID   Age  Gender    Income Education
0   1  25.0    Male   50000.0  Bachelor
1   2  30.0  Female   60000.0    Master
2   3   0.0    Male   70000.0       PhD
3   4  35.0  Female       0.0  Bachelor
4   5  20.0    Male   40000.0    Master
5   6  40.0  Female   80000.0    Master
6   7  45.0    Male       0.0       PhD
7   8  50.0  Female   90000.0  Bachelor
8   9   0.0    Male  100000.0    Master
9  10  55.0  Female  110000.0       PhD

In [22]:
# Handle missing values
# data.fillna(data.mean(), inplace=True)
data.fillna(0, inplace=True)

# # Encode categorical variables
# data['category'] = pd.Categorical(data['category']).codes

# # Scale data
# scaler = StandardScaler()
# data[['feature1', 'feature2']] = scaler.fit_transform(data[['feature1', 'feature2']])

# Save preprocessed data
## Create the directory if it doesn't exist
import os
if not os.path.exists('data/preprocessed'):
    os.makedirs('data/preprocessed')
data.to_csv('data/preprocessed/data.csv', index=False)

In [ ]:
# Handle missing values using KNN imputation
# imputer = KNNImputer(n_neighbors=5)
# data[['feature1', 'feature2']] = imputer.fit_transform(data[['feature1', 'feature2']])

# # Encode categorical variables using one-hot encoding
# data = pd.get_dummies(data, columns=['category'])

# # Scale all features
# scaler = StandardScaler()
# data[['feature1', 'feature2']] = scaler.fit_transform(data[['feature1', 'feature2']])

# # Save preprocessed data
# data.to_csv('data/preprocessed/data.csv', index=False)